[tool.poetry]
name = "cd-proxy-manager"
version = "0.2.0"
description = "Manages proxies for http or selenium and some common uses cases like random,cycle, or set env/sys proxy."
authors = ["Nick Capasso <codedocta@gmail.com>"]
license = "LICENSE.md"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
