@media print {
  @page {
    size: A4;

    margin-left: 3.5cm;
    margin-right: 1cm;

    margin-top: 1.5cm;
    margin-bottom: 2cm;

    @bottom-center {
      content: counter(page);
      font-size: 14pt;
    }
  }

  @page :first {
    counter-increment: page var(--start-page, 2);
  }

  @page without_number {
    @bottom-center {
      content: "";
    }
  }

  #оглавление,
  #оглавление+ul {
    page: without_number;
  }

  body {
    /* Настройка типографии. */
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    line-height: 1.5;
    text-align: justify;

    /* Сброс счётчиков. */
    counter-reset: imagenum;
    counter-reset: tablenum;

    counter-set: imagenum 0;
  }

  p {
    text-indent: 1.5cm;

    margin-top: 0em;
    margin-bottom: 0em;
  }

  h1 {
    text-align: center;
    font-size: 20pt;

    margin-bottom: 1em;

    counter-reset: h2counter;

    page-break-after: avoid;
    page-break-before: always;
  }

  /* ================================================================= */
  /* Главы. */

  h1:not(.non-numbering) {
    counter-increment: chapternum;
  }

  /* h1:not(.non-numbering):before {
    content: var(--chapter, "Глава ") counter(chapternum, var(--chapter-number-style, decimal)) ". ";
  } */

  /* h1 .non-numbering:before {
    content: "";
  } */

  /* ================================================================= */
  /* Подзаголовки. */

  h2,
  h3 {
    text-align: var(--subheader-align, center);
  }

  h2 {
    font-size: 16pt;
    counter-increment: h2counter;
  }

  h3 {
    font-size: 14pt;
    counter-increment: h3counter;
  }

  h1:not(.non-numbering)~h2::before {
    /* content: counter(chapternum) "." counter(h2counter) ".\0000a0\0000a0"; */
    counter-reset: h3counter;
  }

  /* h1:not(.non-numbering)~h2~h3::before {
    content: counter(chapternum) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  } */

  /* ================================================================= */
  /* Приложения. */

  h1.appendix {
    page-break-before: always;
    counter-increment: appendixnum;

    counter-reset: imagenum;
    counter-reset: tablenum;

    counter-set: imagenum 0;
  }

  /* ================================================================= */
  /* Блоки кода. */

  code {
    font-family: var(--font-mono, monospace);
    font-size: 11pt;
  }

  pre {
    padding: 0;
    white-space: pre-wrap;

    padding: 0.5rem;
  }

  pre code {
    display: block;
    margin-left: 3pt;
  }

  h1.appendix~pre {
    margin-left: 0;
  }

  h1.appendix~pre>code {
    font-size: 8pt;
  }

  /* ================================================================= */
  /* Сноски. */

  .footnotes,
  footnote {
    float: footnote;

    font-size: 12.5pt;
    line-height: normal;
    text-align: justify;

    text-indent: 0;
  }

  ::footnote-call {
    font-size: small;
    vertical-align: super;
  }

  ::footnote-marker {
    vertical-align: super;
    font-size: smaller;
    content: counter(footnote);
    margin-right: 0.5em;
  }

  @page {
    @footnote {
      border-top: 1pt solid black;
    }
  }

  /* ================================================================= */
  /* Фигуры. */

  figure {
    text-align: center;
    font-size: 13pt;
  }

  figure {
    page-break-inside: var(--figure-break-inside, avoid);
  }

  /* ================================================================= */
  /* Рисунки. */

  .appendix~figure>img+figcaption:before {
    content: "Рисунок " counter(appendixnum, upper-alpha) "." counter(imagenum) ". ";
  }

  figure>img+figcaption:before {
    counter-increment: imagenum;
    content: "Рисунок " counter(imagenum) ". ";
  }

  /* ================================================================= */
  /* Таблицы. */

  .appendix~figure>table+figcaption:before {
    content: "Таблица " counter(appendixnum, upper-alpha) "." counter(tablenum) ". ";
  }

  figure>table+figcaption:before {
    counter-increment: tablenum;
    content: "Таблица " counter(tablenum) ". ";
  }

  table {
    font-size: 14pt;
    background: white;
    max-width: 70%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    margin-left: auto;
    margin-right: auto;
  }

  th {
    font-weight: normal;
    border-bottom: 2px solid black;
    padding: 10px 8px;
  }

  td {
    padding: 9px 8px;
    transition: 0.3s linear;
  }

  /* ================================================================= */
  /* Списки. */

  ul>li::marker {
    font-size: 18pt;
  }

  ol,
  ul {
    margin-left: 1em;
    list-style-position: outside;
  }

  ol ul,
  ul ol {
    margin-left: 0.5em;
  }

  ul>li {
    text-indent: 0.3em;
    margin-bottom: 0.5em;
  }

  /* ================================================================= */
  /* Оглавление. */

  #оглавление+ul {
    list-style-type: none;
    padding: 0;
  }

  #оглавление+ul ul {
    list-style-type: none;
    padding: 0;
  }

  #оглавление+ul a {
    color: black;
    text-decoration: none;
    display: block;
  }

  #оглавление+ul a::after {
    content: leader(".") target-counter(attr(href), page);
  }

  #оглавление+ul li {
    margin: 0;
  }

  /* ================================================================= */
  /* Common. */

  .w-50 {
    width: 50%;
  }

  .w-60 {
    width: 60%;
  }
}